.menu {
  padding: 0;
  margin: 1rem 0;
  text-indent: 0;
  list-style: none;
  width: 90%;
}

.menu li {
  padding: 0;
  margin: 0 0 2rem;
  text-indent: 0;
  list-style: none;
}

.content cite {
  background: #efefef;
  padding: 1rem 1rem;
  border-left: 8px solid #dfdfdf;
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: block;
}

.content code {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Arial,
    sans-serif;
  background: var(--menu-background-highlight);
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: 900;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 0.8em;
  top: -2px;
  position: relative;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content p,
.content ul {
  margin-bottom: 2rem;
}

.content {
  max-width: 40rem;
}

.solo {
  max-width: 50rem;
}

.onthispage {
  font-size: 1.5rem;
}

.onthispageBold {
  font-weight: 300;
}

.content ul,
.content ol {
  margin-left: 2rem;
}

.content li {
  margin-bottom: 1rem;
}

.content li li {
  list-style-type: circle;
}

.content li:has(ul) {
  list-style-type: none;
}

.content blockquote {
  background: var(--menu-blockquote-background);
  padding: 1rem 1rem;
  border-left: 8px solid var(--menu-blockquote-border);
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 600;
  hanging-punctuation: first last;
}

.content blockquote p {
  margin: 0;
  padding: 0;
}

.content table {
  margin-bottom: 2rem;
  width: 100;
}

.content td {
  padding: 0.5rem 0.5rem 0.5rem 0;
  vertical-align: top;
}

.content td:not(:last-child) {
  border-bottom: 1px dotted var(--theme-ink);
}

.content th {
  padding: 0.5rem 0.5rem 0.5rem 0;
  vertical-align: top;
  border-bottom: 2px solid var(--theme-ink);
}

.content cite {
  background: transparent;
  border: 0;
}
