.Badge {
  padding: 4px 8px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 1rem;
  display: inline-block;

  top: -4px;
  position: relative;
  color: attr(data-colour, black);
  background: attr(data-background, white);
}

.Badge + .Badge {
  margin-left: 0.5rem;
}
