.crumbtrail {
  padding: 0;
  margin: 2rem 0 3rem;
}

.crumbtrail ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.crumbtrail li {
  display: inline;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

.crumbtrail li:after {
  padding: 1rem;
  font-weight: 900;
  color: var(--crumbtrail-separator-color);
  content: '/\00a0';
}

.emptySpace {
  margin-top: 6rem;
}
