.Property {
  margin: 0;
  display: flex;

  .heading {
    padding: 1rem;

    flex: 0 0 25vw;

    .name {
      font-family: var(--font-mono);
      font-weight: 900;
    }
  }

  .fields {
    flex: 1;
    padding: 1rem;

    .title {
      font-weight: bold;
    }

    .description {
      padding-bottom: 1rem;
    }
  }
}

.example {
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.example code {
  font-style: normal;
  background: var(--Schema-property-eg-bg);
  color: var(--Schema-property-eg-fg);
  padding: 1px 5px;
}

.type {
  font-weight: 600;
  font-style: italic;
}

.badges {
  display: inline;
}

.of {
  font-style: normal;
  font-weight: normal;
}

.Property:not(:last-child) {
  border-bottom: 1px solid #999;
}

.pattern {
  font-size: 0.8rem;
}

.enumCode {
  font-style: normal;
}
