.Register {
  /* */
}

.Form fieldset {
  border: 0;
  padding-bottom: 1rem;
}

.Form h2 {
  margin-bottom: 1rem;
}

.Field {
  margin: 0 0 1rem;
}

.Field input,
.Field textarea {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0;
  border: 1px solid var(--theme-ink);
}

.Field label {
  display: block;
  margin-bottom: 0.5rem;
}

.Field .Note {
  font-style: italic;
}

.Error {
  color: var(--registerFieldError);
  font-weight: 900;
  display: block;
}

.SubmitButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--theme-ink) !important;
  background: transparent;
  font-weight: 900;
  color: var(--theme-ink);
  cursor: pointer;
}
