.circle {
  position: relative;
  display: inline-block;
  z-index: 5;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  text-align: center;
}
.circle svg {
  z-index: 999;
}

.circle:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--local-bg);
  border-radius: 100%;
  z-index: -2;
  border: var(--local-border);
}

.svgStyles {
  display: inline-block;
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  vertical-align: middle;
}

.pathStyles {
  stroke: inherit;
  stroke-width: inherit;
}
