.list {
  margin-left: 0;
  margin-top: 2rem;
}

.list ol {
  margin-left: 2rem;
  margin-top: 2rem;
}

.list li {
  list-style: none;
  margin-bottom: 2rem;
}

.list {
  font-size: 1.4rem;
}

.list .list {
  font-size: 1.2rem;
}

.list .list .list {
  font-size: 1rem;
}

.list a {
  text-decoration: underline !important;
}

.heading {
  margin-bottom: 4rem;
}
